.u{
  text-decoration:underline;
}
.b{
    font-weight:bold;
}
.tcenter{
    text-align:center;
}
.tleft{
    text-align:left;
}
.tright{
    text-align:left;
}
.center{
    margin:auto;
}
.left{
    float:left;
    width:auto;
}
.right{
    float:left;
    width:auto;
}