@charset "UTF-8";
@import url('../../../layout/oraculum/css/ofcss/layout.css');
@import url('../../../layout/oraculum/css/ofcss/text.css');
@import url('../../../layout/oraculum/css/ofcss/dev.css');

body{
    font-family:Verdana, Tahoma, Arial;
}
a{
    color:#567cde;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
.vmenu ul{
    width:13%;
    max-width:150px;
    float:left;
    background-color:#444;
    margin:0px;
    padding:0px;
    height:100%;
    display:table;
    background-image:url('../img/bgmenu.jpg');
    background-repeat:repeat-y;
    border-right:2px solid #6b6b6b;
}
.vmenu ul li{
    width:100%;
    float:left;
    margin:0px;
    padding:0px;
    border-bottom:2px solid #4b4b4b;
}
.vmenu ul li a{
    text-decoration:none;
    height:100px;
    line-height:100px;
    text-align:center;
    color:#fff;
    margin:0px;
    padding:0px;
}

.vmenu ul li a:hover,.vmenu ul li a.selected{
    background-color:#fff;
    color:#444;
    margin:0px;
    padding:0px;
    padding-right:2px;
}
#content{
    float:left;
    width:83%;
    padding:20px;
}

.yes{
    font-weight:bold;
    color:#0a0;
}
.no{
    font-weight:bold;
    color:#a00;
}
.msg{
    border:1px solid #aaa;
    width:40%;
    clear:none;
    float:left;
}
.code{
    border:1px solid #aaa;
    padding:10px;
    padding-top:0px;
}

.code em{
    color:#000;
    float:left;
    font-size:10px;
    background-color:#f1f1f1;
    margin:0px;
    margin-left:-10px;
    padding:2px;
}
.code a{
    margin-top:5px;
    background-color:#444;
    color:#fff;
    padding:5px;
    border:1px outset #888;
    float:right;
}
.code a:hover{
    text-decoration:none;
    background-color:#666;
}

textarea.editor{
    width:100%;
    height:400px;
}
